:root {
  background-color: black;
  color: white;
}

body {
  margin: 0;
}

.weather_container {
  padding: 0.5rem;
  background-color: blanchedalmond;
  height: 18rem;
  width: 18rem;
  border-radius: 0.3rem;
}

.location {
  margin: 1rem;
  display: block;
}
